header{
  font-family: monospace;
  padding: 5px;
  text-align: center;
}
.titulo,.subtitulo{
  font-family: monospace;
  padding: 5px;
}
.table-pacientes{
  text-align: center;
  margin-top: 40px;
}
thead{
  background-color: darkcyan;
  color: whitesmoke;
  font-weight: bold;
}
.paciente-invalido{
  background-color: lightcoral;
}
.formulario-paciente{
  width: 50%;
  margin-bottom: 40px;
}
#nome,#sobrenome,#peso,#altura,.btn{
  height: 50px;
}
